{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
	<title>Serial Store - {% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <!--Boostrap link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Jquery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Boostrap script-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!----linkcss-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="container">
		<div class="header">
            <div class="logo">
                <a href="/index.html">
                    <img src="{% static 'imagenes/logo/logo.png'%}" alt="Logo_Serial" style="width: 200px; height: 100px;" />
                </a>
            </div>
            <div class="navegacion">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="paginas/tienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register">Registro Socios</a>
                    </li>
                </ul>
            </div>
        </div>
        &nbsp;
        {% block carusel%} {% endblock %}
        {% block container %} {% endblock %}
       <footer class="footer">
            <div class="derechos">
                <h6 > Desarrollo Web, DWY4101 </h6>
                <br>
                <!--Comentario-->
                <h6> Todos los derechos reservados, </h6>
                <h6> Christian Chandia </h6>
                <h6> Matias Guerrero </h6>
            </div>
            <div class="direccion">
                <h6>Contacto</h6>
                <br>
                <h6>Alonso de Ovalle</h6>
                <h6>Santiago</h6>
                <h6>Email: serialcamisetas@duoc.cl</h6>
                <h6>Fono: +59 2 26974914</h6>

            </div>
            <div class="redes">
                <h6>Redes</h6>
                <br>
                <img src="{% static '/imagenes/icons/facebook-f-brands.svg'%}" alt="">
                <br>
                <img src="{% static '/imagenes/icons/instagram-brands.svg'%}" alt="">
                <br>
                <img src="{% static '/imagenes/icons/envelope-solid.svg'%}" alt="">
            </div>
        </footer>
	</div>
</body>
</html>