{% extends './base/base.html' %} 
{% load staticfiles %}

{% block title %} Registro {% endblock %}

{% block container %} 
	 <div class="container1">
        <h3 id="resgistro">¿No estas registrado?</h3>
        <h5 id="prop">Registrate para tener beneficios!</h5>
        <section id="contenedor-inferior">
          <div class="lateral-izq">
            <h1 id="ben">Beneficios de tener una cuenta</h1>
            <hr id="lat-izq" />
            <p>Tener acceso exclusivo a <b>ofertas y promociones.</b></p>
            <p><b>Comprar en un click.</b></p>
            <p>Revisar <b>tu historial de compras.</b></p>
            <p>Guardar y actualizar <b>tus datos o direcciones.</b></p>
          </div>

          <div class="lateral-der">
            <h1>Registro</h1>
            <hr id="lat-der" />
            <form action="#" method="post" id="formulario">
              <table class="table table-hover">
                <tr>
                  <td><label id="txtEmail">Correo electrónico</label></td>
                  <td>
                    <input
                      type="email"
                      name="txtEmail"
                      id="Email"
                      placeholder="Ingrese su correo electrónico"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label id="txtRun">Run</label></td>
                  <td>
                    <input
                      type="text"
                      class="input_rut"
                      name="txtRun"
                      id="Run"
                      placeholder="Ingrese su run"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label id="txtNombre">Nombre completo</label></td>
                  <td>
                    <input
                      type="text"
                      name="txtNombre"
                      id="Nombre"
                      placeholder="Ingrese su nombre completo"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label id="txtFechaNacimiento">Fecha nacimiento</label>
                  </td>
                  <td>
                    <input
                      type="date"
                      name="txtFechaNacimiento"
                      min="1900-01-01"
                      max="2000-12-31"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label id="txtTelefono">Teléfono de contacto</label></td>
                  <td>
                    <input
                      type="text"
                      name="txtTelefono"
                      id="Telefono"
                      placeholder="Ingrese su teléfono de contacto"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label id="txtRegion">Región</label></td>
                  <td><select id="regiones"></select></td>
                </tr>
                <tr>
                  <td><label id="txtComuna">Comuna</label></td>
                  <td><select id="comunas"></select></td>
                </tr>
              </table>

              <br />
              <button type="button" class="btn btn-primary">Registrarme</button>
            </form>
          </div>
          <script src="{% static '/js/validaComuna.js'%}"></script>
    	  <script src="{% static '/js/validaRut.js' %}"></script>
    	  <script src="{% static '/js/valida.js'%}"></script>
        <script src="{% static '/css/style.registro.css' %}"></script>
{% endblock %}