<nav class="navbar navbar-white bg-white navbar-minres">
    <div class="navegacion">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tienda">Tienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Registro Socios</a>
            </li>
        </ul>
    </div>
</nav>
