{% extends 'base/base.html' %} 
{% load staticfiles %}

{% block title %} Tienda {% endblock %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'css/style-shop.css' %}">
{% endblock %}

{% block nav_bar %}
{% include 'base/nav_bar.html' %} 
{% endblock %}

{% block container %} 
<section>
    <select class="form-control" style="width: auto; height: 40px; color: rgba(0,0,0,.5);" id='selectedTask' name ='selectedTask' onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
        <option selected>
            Filtro
        </option>
        <option value="/tienda/mas_vendidos">
            Camiseta más vendida 
        </option>
        <option value="/tienda/oferta_mes">
            Oferta del mes 
        </option>
    </select>
    <div class="contenedor-tienda">
    {% for p in productos %}
        {% if p.estado %}
            <div class="producto" id="producto-1">
                <!---prueba-->
                <div class="cf">
                    <img class="bottom" src="{{p.imagen_front.url}}" alt="{{p.nombre}}" />
                    <img class="top" src="{{p.imagen_back.url}}" alt="{{p.nombre}}" />
                </div>
                <br>&nbsp; {{p.nombre}}  <br>
                <h6>&nbsp; {{p.precio}} </h6>
                <button class="comprar">Comprar</button>
            </div>  
        {% endif %}  
    {% endfor %}
    </div>
</section>   
{% endblock %}