<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Serial Store</title>
    <!--Boostrap link-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--Jquery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-----linkcss-->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-registro.css" />
    <!--Boostrap script-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!--JQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script src="/js/validaRut.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".input_rut").rut();
      });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <a href="/index.html">
          <div class="logo">
            <img
              src="/imagenes/logo/logo.png"
              alt="Logo_Serial"
              style="width: 200px; height: 100px;"
            />
          </div>
        </a>
        <div class="navegacion">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="/index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/paginas/tienda.html">Tienda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/paginas/registro.html"
                >Registro socios</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    &nbsp;
    <section>
      <div class="container1">
        <h3 id="resgistro">¿No estas registrado?</h3>
        <h5 id="prop">Registrate para tener beneficios!</h5>
        <section id="contenedor-inferior">
          <div class="lateral-izq">
            <h1 id="ben">Beneficios de tener una cuenta</h1>
            <hr id="lat-izq" />
            <p>Tener acceso exclusivo a <b>ofertas y promociones.</b></p>
            <p><b>Comprar en un click.</b></p>
            <p>Revisar <b>tu historial de compras.</b></p>
            <p>Guardar y actualizar <b>tus datos o direcciones.</b></p>
          </div>

          <div class="lateral-der">
            <h1>Registro</h1>
            <hr id="lat-der" />
            <form action="#" method="post" id="formulario">
              <table class="table table-hover">
                <tr>
                  <td><label id="txtEmail">Correo electrónico</label></td>
                  <td>
                    <input
                      type="email"
                      name="txtEmail"
                      id="Email"
                      placeholder="Ingrese su correo electrónico"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label id="txtRun">Run</label></td>
                  <td>
                    <input
                      type="text"
                      class="input_rut"
                      name="txtRun"
                      id="Run"
                      placeholder="Ingrese su run"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label id="txtNombre">Nombre completo</label></td>
                  <td>
                    <input
                      type="text"
                      name="txtNombre"
                      id="Nombre"
                      placeholder="Ingrese su nombre completo"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label id="txtFechaNacimiento">Fecha nacimiento</label>
                  </td>
                  <td>
                    <input
                      type="date"
                      name="txtFechaNacimiento"
                      min="1900-01-01"
                      max="2000-12-31"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label id="txtTelefono">Teléfono de contacto</label></td>
                  <td>
                    <input
                      type="text"
                      name="txtTelefono"
                      id="Telefono"
                      placeholder="Ingrese su teléfono de contacto"
                    />
                  </td>
                </tr>
                <tr>
                  <td><label id="txtRegion">Región</label></td>
                  <td><select id="regiones"></select></td>
                </tr>
                <tr>
                  <td><label id="txtComuna">Comuna</label></td>
                  <td><select id="comunas"></select></td>
                </tr>
              </table>

              <br />
              <button type="button" class="btn btn-primary">Registrarme</button>
            </form>
          </div>
        </section>
      </div>
    </section>
    <script src="/js/validaComuna.js"></script>
    <script src="/js/validaRut.js"></script>
    <script src="/js/valida.js"></script>
  </body>
</html>
