@media (min-width: 1920px){
    .container{
        max-width: 1920px;
    }
}
@media (min-width: 1360px){
    .container{
        max-width: 1360px;
    }
}
@media (min-width: 1444px){
    .container{
        max-width: 1444px;
    }
}
@media (min-width: 1600px){
    .container{
        max-width: 1600px;
    }
}
.header {
    background-color: rgb(255, 255, 255);
    display: flex;
} 
.navegacion {    
    float: right;
}
.footer{
    display: flex;
    background-color: rgb(245, 245, 245);
    padding-bottom: 30px;
    font-size: 12px;
    padding-left: 10px;
    text-align: end;    
}
.direccion{    
    flex: auto;
}
.redes {    
    flex: auto;
    flex-direction: column;
}
.redes img{
    height: 30px;
    width: 30px;
    border-radius:150px;
}
.tamaño-carusel{
    height: 550px !important;
    margin: auto;
}
.menu-footer-bottom-menu-container {
    list-style: none;
    min-height: 27px;
    float: right;
    display: block;
}
.nav a {
    display: block;
    font-size: 14px !important;
    text-decoration: none;
    color: #6d6d6d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
    position: relative;
    text-transform: uppercase;
}
.carousel-item{
    width: 100%;
    height: auto;
}
.tamaño-img-carusel{
    max-width: 100%;
    max-height: 625px;
    height: auto !important;
    margin: auto;
}
#usuario{
    padding-left:5px;
    color: rgba(0,0,0,.5);
    font-size: 14px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
    position: relative;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
    sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}