<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Serial Store</title>
    <!--Boostrap link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Jquery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Boostrap script-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!----linkcss-->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/index.html">
                    <img src="imagenes/logo/logo.png" alt="Logo_Serial" style="width: 200px; height: 100px;" />
                </a>
            </div>
            <div class="navegacion">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="paginas/tienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/paginas/registro.html">Registro Socios</a>
                    </li>
                </ul>
            </div>
        </div>
        &nbsp;
        <!--- carusel-->
        <section>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active tamaño-img-carusel">
                        <img class="d-block w-100" src="imagenes/imagenes-carusel/slide1.png" alt="900x400" data-holder-rendered="true" style="height: auto;">
                    </div>
                    <div class="carousel-item tamaño-img-carusel">
                        <img class="d-block w-100" src="imagenes/imagenes-carusel/slide2.png" alt="900x400" data-holder-rendered="true" style="height: auto;">
                    </div>
                    <div class="carousel-item tamaño-img-carusel">
                        <img class="d-block w-100" src="imagenes/imagenes-carusel/slide3.png" alt="900x400" data-holder-rendered="true" style="height: auto;">
                    </div>
                    <div class="carousel-item tamaño-img-carusel">
                        <img class="d-block w-100" src="imagenes/imagenes-carusel/slide4.png" alt="900x400" data-holder-rendered="true" style="height: auto;">
                    </div>
                    <div class="carousel-item tamaño-img-carusel">
                        <img class="d-block w-100" src="imagenes/imagenes-carusel/slide5.png" alt="900x400" data-holder-rendered="true" style="height: auto;">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <!-- continuamos ...debajo-->
        &nbsp;
        <section class="contenido1">
            <div class="qsomos">
                <h3>¿Quienes Somos?</h3>
                    Somos 2 jóvenes emprendedores, fanáticos del baloncesto, y estando "chatos"
                    de los altos precios que ponen a estos artículos relacionados con el basquet, 
                    hemos tomado la decisión de traer los mejores productos por nosotros mismos.
                    Estamos en crecimiento es por esto que trayendo pocos productos, a medida 
                    que se vayan generando más pedidos, es que traeremos mayor variedad.
                    <p>Cotiza con nosotros y notarás la diferencia en tu bolsillo.</p>
            </div>
        </section>
        <footer class="footer">
            <div class="derechos">
                <h6 > Desarrollo Web, DWY4101 </h6>
                <br>
                <!--Comentario-->
                <h6> Todos los derechos reservados, </h6>
                <h6> Christian Chandia </h6>
                <h6> Matias Guerrero </h6>
            </div>
            <div class="direccion">
                <h6>Contacto</h6>
                <br>
                <h6>Alonso de Ovalle</h6>
                <h6>Santiago</h6>
                <h6>Email: serialcamisetas@duoc.cl</h6>
                <h6>Fono: +59 2 26974914</h6>

            </div>
            <div class="redes">
                <h6>Redes</h6>
                <br>
                <img src="/imagenes/icons/facebook-f-brands.svg" alt="">
                <br>
                <img src="/imagenes/icons/instagram-brands.svg" alt="">
                <br>
                <img src="/imagenes/icons/envelope-solid.svg" alt="">
            </div>
        </footer>
        <!--- div del contenedor principal-->
    </div>
</body>

</html>